{% extends 'base.html' %}
{% load mytags %}


{% block title %}
    <title>List Statements</title>
{% endblock %}


{% block content %}
    <span><a href="{% url 'logout' %}">Logout</a></span><br>
    <span><a href="{% url 'create_statement' %}">Create statement</a></span><br>
    {% if request.user.is_staff %}
        <span><a href="{% url 'list_returned' %}">List Returned</a></span><br>
    {% endif %}
    <br><hr><br>

    {% for statement in object_list %}
        {% if statement.success != 'R' %}
            <h3>{{ statement.title }}</h3>
            <p>{{ statement.description }}</p>
            <i><b>Impotant: {{ statement.get_level_important_display }}</b></i>
            <i>Status: {{ statement.get_success_display }}</i><br>
            <pre><i>{{ statement.create_at|date:'Y/m/d - h:i:s' }}</i></pre>
            <hr>
            <p><i>Last comment: </i>{{ statement.state_comment|filter_first:statement.id }}</p>
            <hr>
            <form method="get" action="{% url 'detail' statement.id %}">
                <input type="submit" value="Detail">
            </form>
            {% if request.user.is_staff %}
                {% if statement.success == 'P' or statement.success == 'R' %}
                    <form method="post" action="{% url 'success_statement' statement.id %}">
                        {% csrf_token %}
                        <input type="hidden" value="confirmed" name="success">
                        <input type="submit" value="Подтвердить">
                    </form>
                    <form method="post" action="{% url 'success_statement' statement.id %}">
                        {% csrf_token %}
                        <input type="text" name="comment">
                        <input type="hidden" value="rejected" name="success">
                        <input type="submit" value="Отклонить">
                    </form>
                {% endif %}
            {% else %}
                <form method="get" action="{% url 'update_statement' statement.id %}">
                    <input type="submit" value="Update">
                </form>
                {% if statement.success == 'F' %}
                    <form method="post" action="{% url 'return_statement' statement.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Return">
                    </form>
                {% endif %}
            {% endif %}
            <hr>
        {% endif %}

    {% endfor %}
{% endblock %}
